<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="conteiner-fluid">
      <div class="row">
        <div *ngFor="let item of products" class="col-md-3">
          <div class="product-box">
            <img src="{{ item.imageUrl }}" alt="{{ item.name }}" class="img-responsive">
            <h1>{{ item.name }}</h1>
            <h2>{{ item.description }}</h2>
            <div class="price">{{ item.unitPrice | currency:"₺" }}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>

        <!--
          Ürün bulunmuyorsa bu kısım çalışacak ve bulunmuyor mesajı verecek.
          Ayrıca buradaki soru işareti olası bir veri tabanı hatasında undefined değer dönerse
          hata vermemesi için kullanılmıştır.
        -->
        <div *ngIf="products?.length == 0" class="col-md-12 alert alert-warning" role="alert">No products found !</div>

      </div>
    </div>
  </div>
</div>
